<ng-container *ngIf="showTable()">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>{{'submission.sections.correction.column.metadata' | translate}}</th>
            <th>{{'submission.sections.correction.column.previous-value' | translate}}</th>
            <th>{{'submission.sections.correction.column.current-value'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let correction of getData()" class="correction-row">
            <td>{{correction.label}}</td>
            <td>{{getPreviousValue(correction)}}</td>
            <td>{{getCurrentValue(correction)}}</td>
        </tr>

        </tbody>
    </table>
</ng-container>
