<header>
  <div class="container-fluid mt-2 pl-5 pr-5">
    <div class="row pl-5 pr-5">
      <div class="col-md-3">
        <a class="navbar-brand" routerLink="/home">
          <img 
            class="rounded float-left"
            style=" height: 37px; width: auto;"
            src="assets/images/perucris-logo.png"
          />
        </a>
      </div>
      <div class="col-md-8">
        <ds-navbar></ds-navbar>
      </div>
      <div class="col-md-1">
        <nav class="navbar navbar-light navbar-expand-md float-right px-0">
          <ds-search-navbar></ds-search-navbar>
          <ds-lang-switch></ds-lang-switch>
          <ds-auth-nav-menu></ds-auth-nav-menu>
          <ds-impersonate-navbar></ds-impersonate-navbar>
          <div class="pl-2">
            <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
                    aria-controls="collapsingNav"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fas fa-bars fa-fw" aria-hidden="true"></span>
            </button>
          </div>
        </nav>
      </div>
    </div>
    
  </div>
</header>
