<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <img class="mr-4 dspace-logo" src="assets/images/applications-engineering-3.png" alt="" />
      <div>
        <h1 class="display-3">Prototyp Publica</h1>
        <p class="lead">Die neue Publica weist nicht nur alle Forschungsergebnisse der Fraunhofer Gesellschaft nach, sondern bietet:</p>
      </div>
    </div>
    <ul>
      <li>den einfachen Upload von Dokumenten, (Forschungs-)Daten, Software und anderen forschungsrelevanten Objekten
      </li>
      <li>die Einbindung und Verknüpfung mit Repositorien und Datenbanken der internationalen Wissenschaftsgemeinschaft 
      </li>
      <li>die persistente Speicherung und Zitierbarkeit durch permanente Urls und vertrauenswürdige Identifier</li>
    </ul>
    <p>Grundlage ist ein sich stetig weiterentwickelndes <A HREF="http://192.102.162.250/" TARGET="_NEW">Datenmodell</A>.</p>
  </div>
</div>
